@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.veterans {
  margin-top: 5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  &__title {
    color: $blue;
    @include title;
  }

  &__subtitle {
    @include subtitle;
  }

  &__text {
    @include text;
  }

  &__gallery {
    width: 100%;
  }

  &__galleryMobile {
    display: block;
  }
  &__galleryTablet {
    display: none;
  }
  @include tablet {
    &__galleryMobile {
      display: none;
    }
    &__galleryTablet {
      display: block;
    }
  }
  @include desktop {
    &__galleryMobile {
      display: none;
    }
    &__galleryTablet {
      display: block;
    }
  }
}
