@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.veterans {
  margin-top: 5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  &__title {
    color: $blue;
    @include title;
  }

  &__subtitle {
    @include subtitle;
  }

  &__text {
    @include text;
  }

  &__gallery {
    width: 100%;
  }
}
