@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.menuContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 5rem;
  padding: 1rem 0;
  left: 0;
  color: $black;
  background-color: $blue;

  &__link {
    color: transparent;
    display: flex;
    flex-direction: column;
    background-color: transparent;
  }
  &__link:hover {
    font-weight: 500;
  }

  &__menu {
    display: none;
  }

  &__button {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    @include fontRegular;

    & {
      color: white;
    }
  }

  @include tablet {
    display: none;
  }
}
