@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.image {
  position: fixed;
  left: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  bottom: 0;
  padding-top: 5rem;
  width: 100%;

  &__img {
    display: flex;
    padding: 1rem;
    width: 90%;
    @include tablet {
      width: 40%;
    }
    @include desktop {
      width: 35%;
    }
  }
  &__text {
    margin: 0;
    padding-bottom: 1rem;
    @include text;
  }
  &__button {
    background-color: $blue;
    padding: 1rem;
    margin-bottom: 2rem;
    border: transparent;
    color: white;
    width: 50%;
    @include tablet {
      width: 40%;
    }
    @include desktop {
      width: 35%;
    }
  }
  &__button:hover {
    background-color: $red;
    cursor: pointer;
  }
}
