@use "../partials/variables" as *;

@mixin fontRegular {
  @font-face {
    font-family: Avenir, Arial, Helvetica, sans-serif;
    src: url(../../assets/fonts/Sense_Black.otf) format("opentype");
  }

  & {
    font-weight: 400;
    font-family: Avenir, Arial, Helvetica, sans-serif;
  }
}

@mixin fontDemi {
  @font-face {
    font-family: Avenir, Arial, Helvetica, sans-serif;
    src: url(../../assets/fonts/Sense_Black.otf) format("opentype");
  }

  & {
    font-weight: 600;
    font-family: Avenir, Arial, Helvetica, sans-serif;
  }
}

@mixin fontBold {
  @font-face {
    font-family: Avenir, Arial, Helvetica, sans-serif;
    src: url(../../assets/fonts/Sense_Black.otf) format("opentype");
  }

  & {
    font-weight: 700;
    font-family: Avenir, Arial, Helvetica, sans-serif;
  }
}

//breakpoints of different screensizes
@mixin tablet {
  @media (min-width: $tablet-breakpoint) and (max-width: 1279px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}
@mixin title {
  @include fontBold;

  & {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  @include tablet {
    @include fontBold;
    font-size: 2.125rem;
    line-height: 2.75rem;
  }

  @include desktop {
    @include fontBold;
    font-size: 2.125rem;
    line-height: 2.75rem;
  }
}
@mixin subtitle {
  @include fontDemi;

  & {
    font-size: 1rem;
    line-height: 1.425rem;
  }

  @include tablet {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  @include desktop {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

@mixin text {
  @include fontRegular;
  & {
    font-size: 0.813rem;
    line-height: 1.125rem;
  }

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  @include desktop {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@mixin labelsButtons {
  @include fontBold;
  font-size: 0.625rem;
  line-height: 1.25rem;

  @include tablet {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }

  @include desktop {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}
