$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//HEX
$black: #000000;
$red: #f20017;
$blue: #0d3692;
$gold: #cb9f5b;
$brown: #5e3c00;
$light: #ffed7b;

//WEBSAFE
// $black: #000000;
// $red: #FF0000;
// $blue: #003399;
// $gold: #CC9966;
// $brown: #663300;
// $light: #FFFF66;
