@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.template {
  margin-top: 5rem;
  padding: 1rem;

  &__title {
    color: $blue;
  }

  &__description {
    padding-bottom: 1rem;
  }
  &__gallery {
    width: 100%;
  }

  &__galleryMobile {
    display: block;
  }
  &__galleryTablet {
    display: none;
  }

  @include tablet {
    &__galleryMobile {
      display: none;
    }
    &__galleryTablet {
      display: block;
    }
  }
  @include desktop {
    &__galleryMobile {
      display: none;
    }
    &__galleryTablet {
      display: block;
    }
  }
}
