@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.events {
  margin-top: 5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  &__iframe {
    margin-top: 83px;
    width: 100%;
    position: fixed;
    height: 100%;
  }

  &__title {
    color: $blue;
    @include title;
  }

  &__chunk {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__group {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      justify-content: space-around;
      display: flex;
      flex-wrap: wrap;
    }
    @include desktop {
      flex-direction: row;
      justify-content: space-around;
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__button {
    background-color: $blue;
    border-radius: 1rem;
    padding: 1rem;
    border: transparent;
    color: white;
  }
  &__button:hover {
    background-color: $red;
    cursor: pointer;
  }
}
