@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.homepage {
  margin-top: 4rem;
  &__header {
    width: 100%;
    top: 2rem;
    opacity: 80%;
    padding: 0;

    @include tablet {
      width: 170%;
      top: 2rem;
      opacity: 80%;
    }

    @include desktop {
      display: flex;
    }
  }

  &__title {
    position: absolute;
    background-color: white;
    border-radius: 1rem;
    color: $blue;
    top: 9.5rem;
    padding: 1rem;
    text-align: center;
    margin: 0.5rem;
    @include title;

    @include tablet {
      width: 35rem;
      margin-left: 0;
      left: 1rem;
      text-align: left;
    }
    @include desktop {
      display: flex;
      width: 35rem;
    }
  }

  &__hours {
    border: 3px solid $red;
    @include tablet {
      width: 90%;
    }
    @include desktop {
      width: 60%;
    }
  }

  &__eventImg {
    padding-bottom: 1rem;
    @include tablet {
      width: 90%;
    }
    @include desktop {
      width: 70%;
    }
  }

  &__introGroup {
    margin: 5rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;

    @include tablet {
      margin: 0 1rem;
      flex-direction: row;
    }
    @include desktop {
      margin: 0 1rem;
      display: flex;
      flex-direction: row;
    }
  }

  &__text {
    margin: 0;
    padding-bottom: 0.5rem;
    @include text;
  }

  &__subtitle {
    color: $black;
    @include subtitle;
  }
  &__hoursGroup,
  &__contactGroup,
  &__eventsGroup,
  &__specialAnnouncementGroup {
    display: flex;
    flex-direction: column;
    background-color: white;
    @include tablet {
      display: flex;
      padding: 1rem;
    }

    @include desktop {
      display: flex;
      padding: 1rem;
    }
  }
  &__rightGroup {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
  }
}

.headerContainer {
  display: flex;
  justify-content: center;
}

.membershipSpace {
  padding: 0 1rem;
}
