@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.image {
  position: fixed;
  left: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  bottom: 0;
  padding-top: 5rem;
  width: 100%;
  z-index: 1;

  &__small_img {
    width: 20rem;
    object-fit: cover;
  }

  &__full_width {
    width: 100%;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4rem;
  }

  &__img {
    display: flex;
    padding: 1rem;
    max-width: 70vw;
    max-height: 60vh;
    width: 100vw;
    object-fit: contain;
    @include tablet {
      max-width: 70%;
    }
    @include desktop {
      max-width: 60%;
    }
  }
  &__text {
    margin: 0;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 1rem;
    @include text;
  }
  &__control_button {
    background-color: $blue;
    padding: 1rem;
    margin-bottom: 2rem;
    border: transparent;
    color: white;
    border-radius: 2rem;
  }
  &__control_button:hover {
    background-color: $red;
    cursor: pointer;
  }
  &__button {
    background-color: $blue;
    padding: 1rem;
    margin-bottom: 2rem;
    border: transparent;
    color: white;
    width: 50%;
    border-radius: 2rem;
    @include tablet {
      width: 40%;
    }
    @include desktop {
      width: 35%;
    }
  }
  &__button:hover {
    background-color: $red;
    cursor: pointer;
  }
}
