@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.branchInfo {
  margin-top: 5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  &__title {
    color: $blue;
    @include title;
  }

  &__subtitle {
    @include subtitle;
  }

  &__text {
    @include text;
  }

  &__gallery {
    width: 100%;
  }

  &__galleryMobile {
    display: block;
  }
  &__galleryTablet {
    display: none;
  }

  @include tablet {
    &__galleryMobile {
      display: none;
    }
    &__galleryTablet {
      display: block;
    }
  }
  @include desktop {
    &__galleryMobile {
      display: none;
    }
    &__galleryTablet {
      display: block;
    }
  }

  &__positions {
    padding-bottom: 2rem;
    width: 100%;
  }

  &__table {
    display: flex;
    justify-content: center;
  }
}

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;

  @include tablet {
    width: 75%;
  }
  @include desktop {
    width: 75%;
  }
  &__row {
    display: flex;
    line-height: 2rem;
    font-weight: 400;
    padding-right: 1rem;
    margin: 0 1rem;
    width: 50%;
    @include text;
    &--title {
      font-weight: 600;
    }
  }

  &__rowGroup {
    color: $black;
    border-bottom: 1px solid $blue;
    display: flex;

    &--title {
      background-color: $blue;
      color: white;
      font-size: 1.25rem;
    }
    &--special {
      background-color: #ccdaf5;
    }
  }
}
